body {
    background-image: url("../images/WWDITSBackground.png");
    margin-top: 50px;
}
img {
    border: 7px solid black;
    margin-left: 200px;
    margin-bottom: 20px;
}
.card, #losses, #wins {
    color: goldenrod;
    font-family: 'Roboto Slab', serif;
}
.centerText {
    text-align: center;
}
#instructions {
    color: peru;
    font-family: 'Roboto Slab', serif;
    white-space: pre-line;
}
#losses {
    float: right;
    margin-right: 100px;
}
#losses, #wins {
    margin-top: 20px;
}
#welcome {
    font-family: 'Marck Script', cursive;
    font-weight: bold;
    color: goldenrod;
}
#wins {
    float:left;
    margin-left: 100px;
}