body {
    background-image: url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/EhSddnV/scary-full-moon-and-dark-clouds-at-night-scary-full-moon-in-a-cloudy-night-very-detailed-lunar-surface-with-its-valleys-and-craters-suitable-for-fear-scary-and-terror-scenes-awesome-full-moon-night-of-wolf-halloween-night-nightmare_e1tflehb__F0000.png);
    margin-top: 50px;
}
img {
    border: 7px solid black;
    margin-left: 200px;
    margin-bottom: 20px;
}
.card, #losses, #wins {
    color: goldenrod;
    font-family: 'Roboto Slab', serif;
}
.centerText {
    text-align: center;
}
#instructions {
    color: peru;
    font-family: 'Roboto Slab', serif;
}
#losses {
    float: right;
    margin-right: 100px;
}
#losses, #wins {
    margin-top: 20px;
}
#welcome {
    font-family: 'Marck Script', cursive;
    font-weight: bold;
    color: goldenrod;
}
#wins {
    float:left;
    margin-left: 100px;
}